<% layout("boilerplate") %>
<body>
    <div class="alert alert-danger col-md-6 offset-3 mt-5 " role="alert">
            <%= message %>
    </div>
    <a href="/" class="btn btn-dark btn-lg add-btn offset-5 mt-4">Back</a>
</body>