<div class="footer">
    <div class="upper">
        <div class="FooterList">
        <div class="text"><p><b>Sahitya Saraswati Holistic Homeopathic Clinic</b><br>
            Restoring health naturally with personalized, holistic treatments.
            Empowering you to achieve well-being through compassionate care and expert homeopathic solutions.
            </p></div>
         <div class="personal">
        <ul style="list-style-type:none">
            <li><a href="#">>ABOUT US</a></li>
            <li><a href="#">>CONTACT US</a></li>
            <li><a href="#">>BLOGS</a></li>
        </ul>
    </div>
    </div>
        
   
    <div class="social">
        <div class="contact">
        <i class="fa-solid fa-mobile-screen-button"></i>
        <p> +91-8800254752</p>
        </div>
        <div class="contact2">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:Dr.alkasharma2012@gmail.com">Dr.alkasharma2012@gmail.com</a>
        </div>
       <div class="social-media"> 
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    </div>
</div>

<div class="lower">
  <p><i class="fa-regular fa-copyright"></i> 2024. ALL RIGHTS RESERVED.</p>
</div>
</div>