<% layout("boilerplate") -%>
<body>
    <div class="main-section">
        <div class="slider">
            <div class="slides">
              <img src="/SSHH_Clinic/views/photos/WhatsApp Image 2024-12-29 at 21.47.56_fbaa9d41.jpg" alt="Image 1">
              <img src="/SSHH_Clinic/views/photos/WhatsApp Image 2024-12-29 at 21.47.56_0b51b177.jpg" alt="Image 2">
              <img src="/SSHH_Clinic/views/photos/WhatsApp Image 2024-12-29 at 21.47.57_079f70f1.jpg" alt="Image 3">
              <img src="/SSHH_Clinic/views/photos/WhatsApp Image 2024-12-29 at 21.47.57_60336268.jpg" alt="Image 4">
              <img src="/SSHH_Clinic/views/photos/3.avif" alt="Image 5">
              <img src="/SSHH_Clinic/views/photos/" alt="Image 6">
            </div>
          </div>
          <div class="our-doctor">
            <h1>OUR DOCTOR</h1>
            <div class="q-bar">
                
            </div>
          </div>
    </div>
</body>