<div class="navbar shadow p-3 mb-5 bg-body-tertiary rounded sticky-top">
        
    <div class="left-side">
       <div class="symbol"> <i class="fa-solid fa-user-doctor symbol"></i></div>
        <div class="nav-components"><p><a class="treatments" href="#">TREAMENTS</a></p>
        <p><a href="#">TREATMENT RESULTS AND REVIEWS</a></p>
        <p><a href="#">WHY US?</a></p>
        <p><a href="#">BLOGS</a></p>
    </div>
 </div>
 <div class="right-side">
    <a  class="consult" href="/consult">CONSULT NOW</a>
    <a class="signUp" href="/signup">SIGN UP</a>
    <a class ="login" href="/login">LOG IN</a>
 </div>
 </div>