<div class="navbar shadow p-3 mb-5 bg-body-tertiary rounded sticky-top">
        
    <div class="left-side">
       <div><a href="/"><img src="/photos/WhatsApp Image 2025-01-02 at 19.36.23_4a68c2d3.jpg" class="symbol"></a></div>
        <div class="nav-components"><p><a class="treatments" href="#">TREAMENTS</a></p>
        <p><a href="#">TREATMENT RESULTS AND REVIEWS</a></p>
        <p><a href="#">WHY US?</a></p>
        <p><a href="#">BLOGS</a></p>
    </div>
 </div>
 <div class="right-side">
    <a  class="consult" href="/consult">CONSULT NOW</a>
    <% if(!currentUser) {%>
    <a class="signUp" href="/signup">SIGN UP</a>
    <a class ="login" href="/login">LOG IN</a>
      <% } else { %>
    <a class ="login" href="/logout">LOG OUT</a>
      <% } %>
 </div>
 </div>