<div class="navbar shadow p-3 mb-5 bg-body-tertiary rounded sticky-top">
        
    <div class="left-side">
       <div><img src="/photos/WhatsApp Image 2025-01-02 at 19.36.23_4a68c2d3.jpg" class="symbol"></div>
        <div class="nav-components"><p><a class="treatments" href="#">TREAMENTS</a></p>
        <p><a href="#">TREATMENT RESULTS AND REVIEWS</a></p>
        <p><a href="#">WHY US?</a></p>
        <p><a href="#">BLOGS</a></p>
    </div>
 </div>
 <div class="right-side">
    <a  class="consult" href="#">CONSULT NOW</a>
    <a class="signUp" href="#">SIGN UP</a>
    <a class ="login" href="#">LOG IN</a>
 </div>
 </div>